extends layout

block content
  div(class="main-content", style="background: linear-gradient(#29CCFF, #C2D9E8 #{100 - clouds}%)")
    div(class="roof-time")
      h1 Roof time?
      p #{title}
    div(class="weather-data")
      h2 Temperature: #{Math.floor(tmp)}
      h2 Cloud cover #{clouds}%
      h2 Precipitation: #{precip}%
      h2 Wind: #{wind}
      h2 UV Index #{uv}
      h2 Metric #{metric}

